<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <h1>Note</h1>
      Search: <input ng-model="query"><br>
      Sort By:
      <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
      </select>
    </div>
    <div class="span9">
      <ul class="memos">
        <li ng-repeat="memo in memos | filter:query | orderBy:orderProp">
          <a href="#/memos/{{memo.id}}">
            {{memo.title}}
          </a>
          <p>{{memo.content}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
