<div class="container-fluid">
  <div class="row-fluid">
    <input id="title" type="text" class="span11" ng-model="memo.title" ng-change="update()">
    <a ng-href="{{urlDone}}" class="btn btn-primary">Done</a>
    <span>{{saved | checkmark}}</span>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <textarea class="span12" rows="20" ng-model="memo.content" ng-change="update()"></textarea>
    </div>
    <div class="span6">
      <span class="span5" ng-bind-html="memo.content | markdown"></span>
    </div>
  </div>
</div>
